.profile-popup__save-button {
    max-width: 358px;
    background-color: #000;
    border-radius: 2px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 14px 82px 18px;
    margin: 48px 36px 37px;
    cursor: pointer;
}

.profile-popup__save-button:hover {
    opacity: 0.8;
}

@media (max-width: 560px) {
    .profile-popup__save-button {
        margin: 45px 22px 25px;
        padding: 14px 0;
        font-size: 14px;
        line-height: 17px;
    }
}