.header {
    display: flex;
    justify-content: flex-start;
    max-width: 880px;
    padding: 45px 0 0;
    margin: 0 auto;
    border-bottom: 1px solid #545454;
}

@media (max-width: 930px) {
    .header {
        max-width: 600px;
    }
}

@media (max-width: 640px) {
    .header {
        max-width: 282x;
        padding: 28px 0 0;
    }
}