.profile-popup__input {
    max-width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    margin: 54px 36px 0;
    padding: 0 0 8px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.profile-popup__input:last-of-type {
    margin: 30px 36px 0;
}

@media (max-width: 560px) {
    .profile-popup__input {
        margin: 75px 22px 0;
    }

    .profile-popup__input:last-of-type {
        margin: 30px 22px 0;
    }
}