.popup__close-button {
    background-image: url(../../../images/profile-popup-close-button.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    min-width: 32px;
    min-height: 32px;
    cursor: pointer;
    padding: 0;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media (max-width: 560px) {
    .popup__close-button {
        top: -36px;
        right: 0;
        min-width: 20px;
        min-height: 20px;
        background-size: cover;
    }

}