.profile__occupation {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

@media (max-width: 930px) {
    .profile__occupation {
        max-width: 200px;
    }
}

@media (max-width: 640px) {
    .profile__occupation {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        min-width: 282px;
    }
}